body,
.headtext,
.info,
.header,
.boxset,
.quote {
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: normal;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 0 15vw;   
    margin-top: 0;
}
 #HL {
    margin: 16px;
 }
ul {
    list-style: none;
    padding: 0px;
    display: flex; 
    gap: 18px;
}

.headcontent {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin: 5vw 15vw;
}

#maintxt {
    font-size: 48px;
    font-weight: bolder;
}

a,
#secondtxt,
.subtext {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    flex-wrap: wrap;
}

.subtext {
 color:#1F2937;
 text-align: center;
}

.headtext {
    max-width: 35vw;
}

img{
    flex: 1;
    max-width: 35vw;
    max-height: 220px;
}

.boxes{
    display: flex; 
    justify-content: center;
    gap: 48px;
    padding-bottom: 48px;
}

.boxset {
    max-width: 10vw;
}

.boxes img{
    height: 100px;
    width: 100px;
    min-height: 80px;
    min-width: 80px;
    border-color: #3882F6;
    border-width: 4px;
    border-radius: 8px;
    align-self: center; 
}


#SRI {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    padding: 12px;
}

.quote {
    background-color: #E5E7EB;
    padding: 48px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

#QA,
#IQ {
    margin: 0 15vw;
}
#QA {
    font-weight: bold;
    font-style: normal;
    align-self: end;
    
}


.CTA,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8
}

.CTA {
    padding: 48px;
}

#bluebox {
    display: flex;
    flex: auto;
    background-color: #3882F6;
    border-radius: 4px;
    justify-content: space-around;
    padding: 40px;
    max-width: 55vw;
}

.text {
    margin: 0;
    max-width: 50%;
}

h3 {
    margin: 0;
}

button {
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-width: 0px;
    width: 100px;
    height: 30px;
    flex-grow: 0;
    margin-top: 8px;
}

#CTAB {
    border-color: #F9FAF8;
    border-width: 2px;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    padding: 24px;

}

